<%= simple_form_for [:admin,@accreditation], html: { class: "form-horizontal" }, method: @method || :post ,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <%= f.error_notification %>
  <%= f.input :role, as: :select,collection: Accreditation.roles.keys, label: "Rol" %>

  <div class="form-group">
    <ul class="nav nav-tabs col-sm-9 col-sm-offset-3">
      <li class="active"><a href="#accreditation-name-es" data-toggle="tab">Español</a></li>
      <li><a href="#accreditation-name-en" data-toggle="tab">English</a></li>
      <li><a href="#accreditation-name-pt" data-toggle="tab">Português</a></li>
    </ul>

    <div class="tab-content">
      <%= f.simple_fields_for :translations do |f_translations| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if f_translations.index == 0 %>" id="accreditation-name-<%= f_translations.object.locale %>">
          <%= f_translations.input :locale, as: :hidden %>
          <%= f_translations.input :id, as: :hidden unless f_translations.object.id.nil? %>
          <%= f_translations.input :name, placeholder: "nombre", label: "Nombre" %>
          <%= f_translations.input :description, hint: "Deja una breve descripción del curso", as: :text, :input_html => {:rows => 7} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group optional accreditations_courses form-inline <% if flash[:accreditations_courses] %>has-error<% end %>">
    <label class="optional col-sm-3 control-label" for="accreditations_courses">Cursos</label>
    <div class="col-sm-9">
      <%= f.nested_fields_for :accreditations_courses do |ff| %>
        <%= ff.remove_nested_fields_link(content_tag(:span,nil,class:"glyphicon glyphicon-minus"), class: "btn btn-danger") %>
        <%= ff.collection_select( :course_id, Course.all, :id, :name, {},class: "form-control") %>
      <% end %>
      <%= f.add_nested_fields_link :accreditations_courses, content_tag(:span,"Curso",class:"glyphicon glyphicon-plus") ,class: "btn btn-success" %>
    </div>
  </div>

  <%= f.button :submit, value: "Guardar", class:"btn btn-success pull-right" %>
<% end %>
