<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><span class="glyphicon glyphicon-user"></span> <%= @user.email %></h2>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <%= form_for @user, url: notifications_users_path(@email_token), method: :patch do |f| %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Curso</th>
                  <th>Categoría</th>
                  <th>Rol</th>
                  <th>Recibir Notificaciones</th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :subscriptions do |ff| %>
                  <%= ff.hidden_field :id %>
                  <tr>
                    <td>
                      <%= ff.object.course.name %>
                    </td>
                    <td><%= ff.object.course.category %></td>
                    <td><%= ff.object.user.role %></td>
                    <td>
                      <%= ff.check_box(:notifications_on) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= f.submit "Guardar", class:"btn btn-success pull-right" %>
        <% end %>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>
