<!-- Section about three main actions -->
<div class="page-home connect-background">
  <section class="container-fluid" id="section1">
    <div class="container v-center">
      <div class="row">
        <div class="col-md-4">
          <center>
            <h1 class="glyphicon glyphicon-pencil" style="font-size:5em;color:#cc0000"></h1>
            <h2><%= t(".train") %></h2>
          </center>
          <hr>
          <p class="lead">
            <%= t(".train_copy") %>
          </p>
          <hr>
          <a href="<%= plan_path %>" class="btn btn-success btn-block" style="font-size:20px"><strong><%= t(".train_btn")%></strong></a>
        </div>
        <div class="col-md-4">
          <center>
            <h1 class="glyphicon glyphicon-play-circle" style="font-size:5em;color:#cc0000"></h1>
            <h2><b><%= t(".presentations") %></b></h2>
          </center>
          <hr>
          <p class="lead"><%= t(".presentations_copy")%></p>
          <hr>
          <a href="<%= presentations_path %>" class="btn btn-danger btn-block" style="font-size:20px"><%= t(".presentations_btn")%></a>
        </div>
        <div class="col-md-4">
          <center>
            <h1 class="glyphicon glyphicon-comment" style="font-size:5em;color:#cc0000"></h1>
            <h2><b><%= t(".demo")%></b></h2>
          </center>
          <hr>
          <p class="lead"><%= t(".demo_copy")%></p>
          <hr>
          <a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#configurarDemo" style="font-size:20px"><%= t(".demo_btn")%></a>
          <!-- Modal -->
          <div class="modal fade" id="configurarDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="configurarDemoLabel"><%= t(".demo_modal_title")%></h4>
                </div>
                <div class="modal-body">
                  <%= t(".demo_modal_body_html")%>
                </div>
                <div class="alert alert-warning" role="alert">
                  <%= t(".demo_modal_footer_html")%>
                </div>
                <div class="modal-footer">
                  <a href="https://www.youtube.com/watch?v=pswrMbx7UV0" target="_blank" class="btn btn-info"><%= t(".demo_watch_video")%></a>
                  <a href="https://www.dropbox.com/s/uh8po6ej039u1al/Gu%C3%ADa%20RHPDS%20V1.0.pdf?dl=0" target="_blank" class="btn btn-info"><%= t(".demo_download_guide") %></a>
                  <a href="http://rhpds.redhat.com" target="_blank" class="btn btn-success" style="font-size:18px"><strong><%= t(".demo_go_to_rhpds") %></strong></a>
                </div>
              </div>
            </div>
          </div> <!-- /modal -->
        </div>
      </div><!--/row-->
      <div class="row"><br></div>
    </div><!--/container-->
  </section>
  <!-- End of Section about three main actions -->

  <!-- Section about FAQ -->
  <section class="container-fluid" id="section2">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1><strong><%= t(".faq")%></strong></h1>
        <br>
        <p class="lead"><%= t(".faq_copy")%></p>
        <br>
        <a href="http://bit.ly/partner_sac_faq"><i class="glyphicon glyphicon-download" style="font-size:5em;color:#fff"></i></a>
        <p><%= t(".faq_download")%></p>
      </div>
    </div>
  </section>
  <!-- End of Section about FAQ -->

  <!-- Section about how to use OPEN -->
  <section class="container-fluid" id="section3">
    <div class="container v-center">
      <center>
        <h1><strong><%= t(".how_to_use_open")%></strong></h1>
      </center>
      <br/>
      <div class="row">
        <div class="col-md-6">
          <p class="lead">
            <%= t(".how_to_use_open_copy_html") %>
          </p>

        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TYoBk1yyfSI" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div><!--/container-->
  </section>
  <!-- Section about how to use OPEN -->

  <!-- Section about Team -->
  <section class="container-fluid" id="section4">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1><strong><%= t(".the_team") %></strong></h1>
        <br>
        <p class="lead">
          <%= t(".contact_html") %>
        </p>
        <br>
        <i class="glyphicon glyphicon-envelope" style="font-size:5em;color:#fff"></i>
      </div>
    </div>
  </section>
  <!-- End of Section about Team -->
</div>
