
  <!-- what is redhat section -->
  <section class="intro">
    <div class="bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>¿Qué es Red Hat?</h1>
          <p>Ayudamos a <a href="https://www.redhat.com/en/about" target="_blank">más del 90% de las compañías Fortune 500 a solucionar sus necesidades de negocio</a>, alineando sus estrategias de IT y de negocio, preparándolas para el futuro de la tecnología. Hacemos esto ofreciendo soluciones con un modelo de negocio OPEN: seguras, costo-efecivas y con suscripciones predictivas.</p>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JZKCdVWB5gY"></iframe>
          </div>
        </div>

      </div>
    </div>
  </section><!-- /intro -->


  

  <!-- About Section -->
  <section class="about bg-light-gray">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Nosotros</h2>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Trabajamos con Partners</h4>
          <p class="text-muted">Nuestro modelo de negocio funciona gracias a las <a href="https://www.redhat.com/en/partners" target="_blank">comunidades de clientes, desarrolladores y partners</a>. Son parte fundamental de nuestra misión y queremos entregar las herramientas necesarias para evolucionar juntos en el mercado.</p>
        </div>

        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Open Organization</h4>
          <p class="text-muted">La tecnología Open Source es parte de nuestra cultura y soluciones. Así mismo un <a href="https://www.youtube.com/watch?v=rvyFYFXCj5c" target="_blank">modelo de trabajo Open en nuestra compañía</a>, construyendo comunidades, respondiendo rápido a las oportunidades, apalancando recursos y talento, inspirando y motivando equipos que actúen con proactividad.</p>
        </div>
        
        
      </div>
    </div>
  </section><!-- /about -->


  <!-- Suscripciones -->
  <section class="subscriptions">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="section-heading">Suscripciones</h2>
          <p class="text-muted">Nuestro modelo de suscripciones trae beneficios a Partners y Clientes. Entiende los principales beneficios, el por qué son beneficios y cómo explicarlos en un Whiteboard.</p>
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2geMqjYssm8"></iframe>
          </div>
        </div>

      </div>
    </div>
  </section><!-- /subscriptions -->


  <!-- Portfolio Grid Section -->
  <section class="portfolio bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Portafolio</h2>
          <h3 class="section-subheading text-muted">Con tres grandes agrupaciones: Plataforma, Middleware y Cloud se pueden cubrir necesidades de negocio críticas y demandantes de innovación. Conoce nuestras soluciones y la visión de negocio que proyectamos con cada una de ellas.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 vector-portfolio">
          ¿imagen?
        </div>

        <div class="col-md-4">
          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/linux-platforms" class="portfolio-link" data-toggle="modal" target="_blank">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag "start/sistema_operativo.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Sistema Operativo</h4>
              <p class="text-muted">Red Hat Enterprise Linux</p>
            </div>
          </div>

          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/virtualization" class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "start/virtualization.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Virtualización</h4>
              <p class="text-muted">Red Hat Enterprise Virtualization</p>
            </div>
          </div>

          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/cloud-computing" class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "start/cloud.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Cloud</h4>
              <p class="text-muted">Red Hat OpenStack, Red Hat OpenShift, Red Hat Cloudforms</p>
            </div>
          </div>

          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/jboss-middleware/accelerate" class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "start/agilizar.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Acelerar</h4>
              <p class="text-muted">Red Hat EAP, Red Hat JON, Red Hat JDS</p>
            </div>
          </div>


          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/jboss-middleware/integrate" class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "start/integrar_apps.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Integrar aplicaciones</h4>
              <p class="text-muted">Red Hat JBoss Fuse, Red Hat JBoss Data Virtualization</p>
            </div>
          </div>

          <div class="portfolio-item">
            <a href="http://www.redhat.com/es/technologies/jboss-middleware/automate" class="portfolio-link" data-toggle="modal" target="_blank">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <%= image_tag "start/integrar_procesos.png", class: "img-responsive" %>
            </a>
            <div class="portfolio-caption">
              <h4>Automatizar</h4>
              <p class="text-muted">Red Hat JBoss BPM Suite</p>
            </div>
          </div>


        </div>

      </div>
    </div>
  </section><!-- /portfolio -->
  

  <!-- presentaciones Section -->
  <section class="presentaciones">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            <%= t(".title_presentaciones") %>
          </h2>
        </div>
        
        <div class="col-md-6">
          ¿imagen?
        </div>

        <div class="col-md-6">
          <%= t(".text_presentaciones_html") %>
        </div>

      </div>
    </div>
  </section><!-- /presentaciones -->


  <!-- registro deals Section -->
  <section class="registro bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">
            <%= t(".title_registro") %>
          </h2>
        </div>

        <div class="col-md-6">
          <%= t(".text_registro_html") %>
        </div>
        
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gIN2pa-_-D4"></iframe>
          </div>
        </div>

      </div>
    </div>
  </section><!-- /registro -->

  
  <!-- Training Section -->
  <section class="training">
    <div class="container">
      <div class="row">
        
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="section-heading">
            <%= t(".title_training") %>
          </h2>
          <p class="text-muted">
            <%= t(".text_training_html") %>
          </p>
        </div>

      </div>
    </div>
  </section><!-- /training -->

  <!-- Section about Team -->
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1><strong><%= t(".the_team") %></strong></h1>
          <br>
          <p class="lead">
            <%= t(".contact_html") %>
          </p>
          <br>
          <i class="glyphicon glyphicon-envelope" style="font-size:5em;color:#fff"></i>
        </div>
      </div>
    </div>
  </section><!-- /team -->



  