<div class="container">

  <div class="row admins_index">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h2>
                  <%= t(".admins") %>
                </h2>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="col-xs-12 col-md-6 col-md-offset-6 text-right">
                  <%= form_for [:admin,@admin], html:{class: "form-inline"} do |f| %>
                    <% if @admin.errors.any? %>
                      <% @admin.errors.full_messages.each do |e| %>
                        <p class="errors">
                          <%= e %>
                        </p>
                      <% end %>
                    <% end %>
                    <%= f.label :email %>
                    <%= f.text_field :email, required: true,class: "form-control" %>
                    <%= f.button "<span class='glyphicon glyphicon-plus'></span> #{t('.create_admin')}".html_safe, class: "btn btn-success" %>
                  <% end %>
                </div>
                <div class="col-xs-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th><%= t(".email")%></th>
                          <th class="actions"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @admins.each do |admin|  %>
                          <tr>
                            <td><%= admin.email %></td>
                            <td class="text-right">
                              <% unless admin == current_admin %>
                                <%= link_to admin_admin_path(admin), method: :delete, class: "btn btn-danger",
                                  data: { confirm: t(".admin_deletion_confirmation") } do %>
                                  <span class="glyphicon glyphicon-trash"></span>
                                <% end %>

                                <%= link_to email_password_reset_admin_admin_path(admin), method: :get, class: "btn btn-info",title: t(".send_confirmation_email"),
                                  data: { toggle: "tooltip", placement: "top" } do %>
                                  <span class="glyphicon glyphicon-envelope"></span>
                                <% end %>

                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
  </div>
</div>
