<%= simple_form_for @course, html: { class: "form-horizontal" }, method: @method || :post ,
wrapper: :horizontal_form,
wrapper_mappings: {
  check_boxes: :horizontal_radio_and_checkboxes,
  radio_buttons: :horizontal_radio_and_checkboxes,
  file: :horizontal_file_input,
  boolean: :horizontal_boolean
} do |f| %>

<%= f.error_notification %>
<%= f.input :category, as: :select,collection: [:platform,:middleware,:cloud], label: "Categorias" %>
<%= f.input :name, placeholder: "nombre", label: "Nombre" %>


<div class="form-group boolean optional roles <% if flash[:any_presence] %>has-error<% end %>">
  <label class="string optional col-sm-3 control-label" for="course_name">Roles</label>
  <div class="col-sm-9">
    <%= f.input :for_sales_engineer, as: :boolean, label: "Sales Engineer"%>
    <%= f.input :for_sales, as: :boolean, label: "Sales"%>
    <%= f.input :for_delivery, as: :boolean, label: "Delivery"%>
    <%if :any_presence%><span class="help-block"><%= flash[:any_presence] %></span><%end%>
  </div>
</div>

<%= f.input :session_type, as: :radio_buttons,
collection: [:always_available,:per_session], label: "Tipo de Sesion" %>
<%= f.association :accreditation,label: "Acreditación" %>

<%= f.input :description, hint: "Deja una breve descripción del curso", as: :text %>

<%= f.button :submit, value: "Crear Curso" %>
<% end %>
