<div class="container">
  <div class="row accreditations_index">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                    Acreditaciones
                    <%= link_to new_accreditation_path,class: "btn btn-success btn-md pull-right" do %>
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar acreditación
                    <% end %>
                  </h2>
                  <% if @course %>
                    <h4>para el curso <strong><%= @course.id %> - <%= @course.name %></strong></h4>
                  <% end %>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Descripción</th>
                                  <th>Rol</th>
                                  <th>Cursos</th>
                                  <th class="actions"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <% if !@accreditations.blank? %>
                                <% @accreditations.each do |a|  %>
                                  <tr>
                                      <td><%= a.id %></td>
                                      <td><%= a.name %></td>
                                      <td><%= truncate(a.description) %></td>
                                      <td><%= a.role %></td>
                                      <td><%= link_to(pluralize(a.courses.count,"curso"), courses_path(accreditation: a.id),) %></td>
                                      <td>
                                        <%= link_to edit_accreditation_path(a), class: "btn btn-info" do %>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        <% end %>
                                        <%= link_to accreditation_path(a), method: :delete, data: { confirm: 'Esta seguro de eliminar?' }, class: "btn btn-danger" do %>
                                            <span class="glyphicon glyphicon-trash"></span>
                                        <% end %>
                                      </td>
                                  </tr>
                                <% end %>
                              <% end %>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
  </div>
</div>
