<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to(admin_users_path, class: "btn btn-warning btn-back") do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <%= t(".all_users") %>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <%= link_to print_admin_user_subscriptions_path(@user), class: "btn btn-default", target: "_blank" do %>
              <span class="glyphicon glyphicon-print"></span>
            <% end %>
          </div>
          <h2><span class="glyphicon glyphicon-user"></span> <%= @user.email %></h2>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <%= form_for @user, url: admin_user_subscriptions_path, method: :patch do |f| %>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><%= t(".accreditations")%></th>
                    <th><%= t(".course")%></th>
                    <th><%= t(".category")%></th>
                    <th><%= t(".role")%></th>
                    <th><%= t(".finished")%></th>
                    <th><%= t(".receive_notifications")%></th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for :subscriptions do |ff| %>
                    <%= ff.hidden_field :id %>
                    <tr>
                      <td>
                        <%= ff.object.accreditation.name if ff.object.accreditation %>
                      </td>
                      <td>
                        <%= ff.object.course.name %>
                      </td>
                      <td><%= ff.object.course.category %></td>
                      <td><%= ff.object.user.role %></td>
                      <td>
                        <%= ff.check_box(:finished, class: "subscription") %>
                      </td>
                      <td>
                        <%= ff.check_box(:notifications_on, class: "subscription") %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= f.submit t(".save"), class:"btn btn-success pull-right" %>
          <% end %>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
  </div>
</div>
