<%# vars: courses, role %>
<div class="col-xs-12 text-center">
  <h2>Cursos para <%= role.titlecase %></h2>
  <p>
    Selecciona los cursos que te interesan y crearemos
    un plan que se adapte a tus necesidades.
  </p>
</div>
<%= form_for :plan,
  url: plan_path, html: {class: "text-center"}, remote: true do |f| %>
  <% Course.categories.each do |category,category_code| %>
    <div class="col-xs-12 col-md-4">
      <h3><%= category.titlecase %></h3>
      <div class="list-group courses-list">
        <% courses.where(category: category_code).each do |course| %>
          <a class="list-group-item course"
            id="course_<%=course.id%>"
            data-course="<%=course.id%>">
            <%= course.name %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.submit "Crear plan", class: "btn btn-default btn-lg" %>
<% end %>
