<div class="container step-3">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to(step_2_accreditations_plan_path(role: @role), class: "link pull-left") do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="hidden-xs hidden-sm">
          <%= t(".change_accreditations")%>
        </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to step_4_subscription_plan_path(role: @role,accreditations: @accreditations_ids), class: "btn btn-default btn-success btn-lg pull-right" do %>
        <span class="hidden-xs hidden-sm"><%= t(".subscribe") %></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>

      <div class="text-left">
        <div class="text-center title-row">
          <h4><%= t(".suggested_plan")%></h4>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <% Accreditation.where(id: @accreditations_ids).uniq.each do |a| %>
              <h3><%= a.name %></h3>
              <div class="tags">
                <% a.tag_list.each do |tag| %>
                  <span class="label label-default"><%= tag %></span>
                <% end %>
              </div>
              <p>
                <%= a.description %>
              </p>
              <% @courses.each do |c| %>
                <% next unless c.accreditations.exists?(id: a.id) %>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="course">
                      <h4><%= c.name %></h4>
                      <p><%= c.description %></p>
                      <span class="label label-success glyphicon glyphicon-time"><%= " #{c.duration} #{t('common.hours')}" %></span>
                      <span class="label label-info">
                        <% if c.always_available? %>
                          <%= t(".always_available") %>
                        <% elsif next_session = @sessions_per_course[c] %>
                          <%= next_session.start_date %> - <%= next_session.end_date %>
                        <% else %>
                          <%= t(".not_available") %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
