<div class="container">
  <%= form_tag(step_3_schedule_plan_path, method: "get") do %>
    <%= hidden_field_tag :locale, params[:locale] %>
    <%= hidden_field_tag :role, @role %>
    <div class="row">
      <div class="col-xs-12 text-center title-row">
        <%= link_to(step_1_roles_plan_path, class: "link pull-left") do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="hidden-xs hidden-sm">
            <%= t(".change_role")%>
          </span>
        <% end %>

        <%= button_tag :submit, class: "btn btn-default btn-success btn-lg pull-right" do %>
          <span class="hidden-xs hidden-sm"><%= t(".create_plan")%></span>
          <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </div>
    </div>

    <div class="btn-group roles">
      <div class="accreditations">
        <div class="text-center">
          <h2><%= t('.courses_for') %> <strong><%= t("common.#{@role}") %></strong></h2>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#products-filter">
            <%= t(".filter_by_product") %>
          </button>
        </div>

        <div class="collapse" id="products-filter">
          <div class="well">
            <div class="row">
              <% Product.all.group_by(&:category).each do |category, products| %>
                <div class="col-20-pt">
                  <div class="list-group">
                    <div class="list-group-item disabled">
                      <strong><%= category.to_s.humanize %></strong>
                    </div>
                    <% products.each do |product| %>
                      <div class="list-group-item product-filter" data-product="<%= product.id %>">
                        <%= product.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="row text-center pb20">
              <button class="btn btn-default clean-products-filter" type="button">
                <%= t(".clean_filter") %>
              </button>
              <button class="btn btn-default invert-products-filter" type="button">
                <%= t(".invert_selection") %>
              </button>
            </div>
            <div class="row text-center">
              <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#products-filter">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </button>
            </div>
          </div>
        </div>

        <% Accreditation.categories.each do |category,value| %>
          <div class="col-md-4">
            <div class="text-center">
              <h3 class="accreditation-category-title"><%= category.titleize %></h3>
            </div>
            <% @accreditations.send(category).each_with_index do |a,i| %>
              <div class="col-xs-12">
                <%= content_tag :div, class: "accreditation-box", data: a.products.pluck(:id).reduce({}){ |h, i| h.merge("product-#{i}" => true ) } do %>
                  <div class="select-btn-container">
                    <a class="btn btn-default btn-block btn-select-accreditation" data-accreditation-id="<%= a.id %>">
                      <span class="glyphicon glyphicon-ok"></span>
                    </a>
                  </div>
                  <h3><%= a.name %></h3>
                  <div class="tags">
                    <% a.tag_list.each do |tag| %>
                      <span class="label label-default"><%= tag %></span>
                    <% end %>
                  </div>
                  <p>
                    <%= a.description %>
                  </p>
                  <span class="tag"><%= category.titleize %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
