<div class="step-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to(step_2_accreditations_plan_path(role: @role), class: "link pull-left") do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="hidden-xs hidden-sm">
            <%= t(".change_accreditations")%>
          </span>
        <% end %>
        <div class="subscription-btn-container">
          <%= render "subscription_btn",accreditations_ids: @accreditations_ids, role: @role %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'suggestions_box' %>
      </div>

      <div class="col-xs-8 col-xs-offset-2 text-center">

        <div class="text-left">
          <div class="text-center title-row">
            <h2><%= t(".suggested_plan")%></h2>
          </div>
          <div class="row">
            <div class="col-xs-12 accreditations-list">
              <% Accreditation.where(id: @accreditations_ids).uniq.each do |a| %>
                <%= render 'accreditation_detail', accreditation: a %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
