<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to(step_2_accreditations_plan_path(role: @role), class: "link pull-left") do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="hidden-xs hidden-sm">
          <%= t(".change_accreditations")%>
        </span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to step_4_subscription_plan_path(role: @role,accreditations: @accreditations_ids), class: "btn btn-default btn-success btn-lg pull-right" do %>
        <span class="hidden-xs hidden-sm"><%= t(".subscribe") %></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>

      <div class="table-responsive text-left table-schedule">
        <div class="text-center title-row">
          <h4><%= t(".suggested_plan")%></h4>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t(".accreditation")%></th>
              <th><%= t(".course")%></th>
              <th><%= t(".duration")%></th>
              <th><%= t(".date")%></th>
            </tr>
          </thead>
          <tbody>
            <% @user.subscriptions.each do |s| %>
              <tr>
                <td><%= s.accreditation.name if s.accreditation %></td>
                <td><%= s.course.name %>
                  <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="<%= s.course.name %>" data-content="<%= s.course.description %>" data-placement="top">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </a>
                </td>
                <td><%= s.course.duration %></td>
                <td>
                  <% if s.course.always_available? %>
                    <%= t(".always_available") %>
                  <% elsif next_session = @sessions_per_course[s.course] %>
                    <%= next_session.start_date %> - <%= next_session.end_date %>
                  <% else %>
                    <%= t(".not_available") %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
