<%= simple_form_for [:admin,@course], html: { class: "form-horizontal" }, method: @method || :post ,
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

  <%= f.error_notification %>
  <%= f.input :category, as: :select,collection: Course.categories.keys %>
  <%= f.input :external_id, label: 'External ID'%>
  <div class="form-group">
    <ul class="nav nav-tabs col-sm-9 col-sm-offset-3">
      <% Settings.locales.each do |locale| %>
        <li class="<%= 'active' if locale.to_s == 'es' %>"><a href="#course-name-<%= locale.downcase %>" data-toggle="tab"><%= locale %></a></li>
      <% end %>

    </ul>

    <div class="tab-content">
      <%= f.simple_fields_for :translations do |f_translations| %>
        <div role="tabpanel" class="tab-pane <%= 'active' if f_translations.object.locale == :es %>" id="course-name-<%= f_translations.object.locale %>">
          <%= f_translations.input :locale, as: :hidden %>
          <%= f_translations.input :id, as: :hidden unless f_translations.object.id.nil? %>
          <%= f_translations.input :name %>
          <%= f_translations.input :description, as: :text, :input_html => {:rows => 7} %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.input :duration, placeholder: t(".duration_example") %>

  <div class="form-group boolean optional roles <% if flash[:roles] %>has-error<% end %>">
    <label class="string optional col-sm-3 control-label" for="course_name"><%= t(".roles")%></label>
    <div class="col-sm-9">
      <%= f.input :for_sales_engineer, as: :boolean, label: "Sales Engineer"%>
      <%= f.input :for_sales, as: :boolean, label: "Sales"%>
      <%= f.input :for_delivery, as: :boolean, label: "Delivery"%>
    </div>
  </div>
  <div class="form-group optional accreditations_courses form-inline <% if flash[:accreditations_courses] %>has-error<% end %>">
    <label class="optional col-sm-3 control-label" for="accreditations_courses"><%= t(".accreditations")%></label>
    <div class="col-sm-9">
      <%= f.nested_fields_for :accreditations_courses do |ff| %>
        <%= ff.remove_nested_fields_link(content_tag(:span,nil,class:"glyphicon glyphicon-minus"), class: "btn btn-danger") %>
        <%= ff.collection_select( :accreditation_id, Accreditation.all, :id, :name, {},class: "form-control") %>
      <% end %>
      <%= f.add_nested_fields_link :accreditations_courses, content_tag(:span,t(".accreditation"),class:"glyphicon glyphicon-plus") ,class: "btn btn-success" %>
    </div>
  </div>


  <%= f.input :session_type, as: :radio_buttons, class: "course-session-type-radio",
  collection: [[t(".always_available"),:always_available],[t(".per_session"),:per_session]], label: "Tipo de Sesion" %>
  <div class="form-group optional sessions form-inline" <%= "style='display: none'".html_safe if @course.session_type == "always_available" %> >
    <label class="optional col-sm-3 control-label" for="sessions"><%= t(".sessions")%></label>
    <div class="col-sm-9">
      <table class="session-table">
        <thead>
          <tr>
            <th></th>
            <th><%= t(".start_date")%></th>
            <th><%= t(".end_date")%></th>
          </tr>
        </thead>
        <tbody>
          <%= f.nested_fields_for :course_sessions, wrapper_tag: :tr do |ff| %>
            <td>
              <%= ff.remove_nested_fields_link(content_tag(:span,nil,class:"glyphicon glyphicon-minus"), class: "btn btn-danger") %>
            </td>
            <td>
              <%= ff.input :start_date, wrapper: :datetimepicker,as: :string %>
            </td>
            <td>
              <%= ff.input :end_date, wrapper: :datetimepicker,as: :string %>
            </td>

          <% end %>
        </tbody>
      </table>
      <%= f.add_nested_fields_link :course_sessions, content_tag(:span,t(".session"),class:"glyphicon glyphicon-plus") ,class: "btn btn-success" %>
    </div>
  </div>

  <%= f.button :submit, value: t(".save"), class:"btn btn-success pull-right" %>
<% end %>
