<div class="container">
  <div class="row courses_index">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                    <%= t(".courses") %>
                    <%= link_to new_admin_course_path,class: "btn btn-success btn-md pull-right" do %>
                        <span class="glyphicon glyphicon-plus"></span>
                        <%= t(".add_course") %>
                    <% end %>
                  </h2>
                  <% if @accreditation %>
                    <%= t(".for_accreditation_html",accreditation: "#{@accreditation.id} - #{@accreditation.name}") %>
                  <% end %>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                            <tr>
                              <th><%= t(".name") %></th>
                              <th><%= t(".accreditations") %></th>
                              <th><%= t(".roles") %></th>
                              <th><%= t(".category") %></th>
                              <th><%= t(".description") %></th>
                              <th><%= t(".sessions") %></th>
                              <th class="actions"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if !@courses.blank? %>
                              <% @courses.each do |course|  %>
                                <tr>
                                  <td><%= course.name %></td>
                                  <td><%= link_to("#{course.accreditations.count} #{t('.accreditations')}", admin_accreditations_path(course: course.id),) %></td>
                                  <td><%= course.which_roles %></td>
                                  <td><%= course.category %></td>
                                  <td><%= truncate(course.description) %></td>
                                  <td>
                                    <% if course.per_session? %>
                                      <%= pluralize(course.course_sessions.count,"sesión","sesiones") %>
                                    <% else %>
                                      Siempre disponible
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= link_to edit_admin_course_path(course), class: "btn btn-info" do %>
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    <% end %>
                                    <%= link_to admin_course_path(course), method: :delete, data: { confirm: 'Esta seguro de eliminar?' }, class: "btn btn-danger" do %>
                                        <span class="glyphicon glyphicon-trash"></span>
                                    <% end %>
                                  </td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
  </div>
</div>
