<h1> Hola <%= @user.email %>,</h1>

<p>Los siguientes cursos comenzar치n en <%= distance_of_time_in_words DateTime.now, @start_date %></p>

<table>
  <thead>
    <tr>
      <th>Acreditaci칩n</th>
      <th>Curso</th>
      <th>Fecha de inicio</th>
      <th>Duraci칩n</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |s| %>
      <tr>
        <td><%= s.accreditation.name if  s.accreditation %></td>
        <td><%= s.course.name %></td>
        <td><%= @start_date %></td>
        <td><%= s.course.duration %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<label> Puedes editar las notificaciones que recibes en el siguiente link: <%= link_to "Edici칩n de notificaciones", notifications_users_url(@user.email_token) %></label>
