<h1>Te recordamos que el curso <%= @courses_session.course.name %> iniciará en <%= @days_left %> días</h1>

<table>
  <thead>
      <tr>
          <th>Curso</th>
          <th>Duración</th>
          <th>Fecha</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @courses_session.course.name %></td>
        <td><%= @courses_session.duration%></td>
        <td><%= @courses_session.start_date %></td>
      </tr>
  </tbody>
</table>
<br>
<label> Puedes editar las notificaciones que recibes en el siguiente link: <%= link_to "Edición de notificaciones", email_token_users_url(@user.email_token) %></label>