<h1>Le damos la bienvinida <%= @user.email %> a Prometeo</h1>

<h3>Te has suscrito a los siguientes cursos: </h3>

<table>
  <thead>
      <tr>
          <th>Curso</th>
          <th>Duración</th>
          <th>Fecha</th>
      </tr>
  </thead>
  <tbody>
    <% @user.subscriptions.map do |subscription| %>
      <tr>
        <td><%= subscription.course.name %></td>
        <td><%= %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<label> Puedes editar las notificaciones que recibes en el siguiente link: <%= link_to "Edición de notificaciones", email_token_users_url(@user.email_token) %></label>