 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png"), root_path, :class => "navbar-brand" %>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <% if @admin_navigation %>
        <ul class="nav navbar-nav navbar-right active-<%= @active_menu_tab %>">
          <% if admin_signed_in? %>
            <li class="admin-admins">
              <%= link_to t(".admins"), admin_admins_path %>
            </li>
            <li class="admin-courses">
              <%= link_to t(".courses"), admin_courses_path %>
            </li>
            <li class="admin-users">
              <%= link_to t(".people"), admin_users_path %>
            </li>
            <li class="admin-accreditations">
              <%= link_to t(".accreditations"), admin_accreditations_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                <strong><%= current_admin.email %></strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to(t(".change_password"), edit_admin_registration_path) %>
                <li><%= link_to(t(".sign_out"), destroy_admin_session_path, method: :delete) %></li>
              </ul>
            </li>
            <li class="dropdown">
              <%= render "layouts/language_select" %>
            </li>
          <% end %>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right active-<%= @active_menu_tab %>">
          <li class="plan">
            <%= link_to t(".trainings"), plan_path %>
          </li>
          <li class="docs">
            <%= link_to t(".docs"), docs_path %>
          </li>
          <li class="presentations">
            <%= link_to t(".presentations"), presentations_path %>
          </li>
          <li class="start">
            <%= link_to t(".essentials"), essentials_path,class: "esentials-link" %>
          </li>
          <li class="dropdown">
            <%= render "layouts/language_select" %>
          </li>
        </ul>
        <% end %>
    </div>
  </div>
</nav>
