<!DOCTYPE html>
<html>
<head>
  <title>Partner Enablement SAC</title>
  <meta charset="utf-8">
  <meta name="description" content="Ayuda Partner Enablement SAC">
  <link href="//red-hat-overpass-fonts.s3.amazonaws.com/overpass.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= favicon_link_tag 'redhat.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render "layouts/navigation" %>
  <div class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if flash[:notice] %>
            <%= render 'shared/alert', type: 'success', message: flash[:notice] %>
          <% end %>
          <% if flash[:alert] %>
            <%= render 'shared/alert', type: 'danger', message: flash[:alert] %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
